<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyme</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.flyme.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLoginServlet</display-name>
    <servlet-name>doLoginServlet</servlet-name>
    <servlet-class>com.flyme.servlet.doLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLoginServlet</servlet-name>
    <url-pattern>/doLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doRegisterServlet</display-name>
    <servlet-name>doRegisterServlet</servlet-name>
    <servlet-class>com.flyme.servlet.doRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegisterServlet</servlet-name>
    <url-pattern>/doRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.flyme.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAuthCodeServlet</display-name>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <servlet-class>com.flyme.servlet.getAuthCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <url-pattern>/getAuthCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.flyme.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMyInformationServlet</display-name>
    <servlet-name>FindMyInformationServlet</servlet-name>
    <servlet-class>com.flyme.servlet.FindMyInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMyInformationServlet</servlet-name>
    <url-pattern>/FindMyInformationServlet</url-pattern>
  </servlet-mapping>
</web-app>