<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyme</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.flyme.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doLoginServlet</display-name>
    <servlet-name>doLoginServlet</servlet-name>
    <servlet-class>com.flyme.servlet.doLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLoginServlet</servlet-name>
    <url-pattern>/doLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doRegisterServlet</display-name>
    <servlet-name>doRegisterServlet</servlet-name>
    <servlet-class>com.flyme.servlet.doRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegisterServlet</servlet-name>
    <url-pattern>/doRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.flyme.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAuthCodeServlet</display-name>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <servlet-class>com.flyme.servlet.getAuthCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAuthCodeServlet</servlet-name>
    <url-pattern>/getAuthCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.flyme.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartItem</display-name>
    <servlet-name>RemoveCartItem</servlet-name>
    <servlet-class>com.flyme.servlet.RemoveCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItem</servlet-name>
    <url-pattern>/RemoveCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>com.flyme.servlet.UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.flyme.servlet.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/QuitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexProductServlet</display-name>
    <servlet-name>IndexProductServlet</servlet-name>
    <servlet-class>com.flyme.servlet.IndexProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexProductServlet</servlet-name>
    <url-pattern>/IndexProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.flyme.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DoSearchCustomerServlet</display-name>
    <servlet-name>DoSearchCustomerServlet</servlet-name>
    <servlet-class>com.flyme.servlet.DoSearchCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchCustomerServlet</servlet-name>
    <url-pattern>/DoSearchCustomerServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.flyme.servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.flyme.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
</web-app>